<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
  <link rel="manifest" href="assets/site.webmanifest">
  <link rel="mask-icon" href="assets/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <title>Flavor Index</title>
  
  <!-- css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">

  <!-- js -->
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>

  <section class="section">
    <p class="title is-3 is-spaced">The Flavor Index</p>
    <p class="subtitle is-5">This project is inspired by The Flavor Bible, for more information visit the project on <a href="https://github.com/DreadLordMatt/flavor-index"> GitHub</a>. 
      Consider purchasing the book direct from the authors at <a href="https://karenandandrew.com/books/the-flavor-bible/">karenandandrew.com</a></p>
  </section>
  
  <!-- List of all ingredients in the json data -->
  <section id="app" class="section container">

    <!-- loop through the list and return ingredients -->
    <div class="content" v-for="ingredient in ingredients">
      <h4>{{ ingredient.name }}</h4>
      <ul>
        <li>Season: {{ ingredient.season }}</li>
        <li>Taste: {{ ingredient.taste }}</li>
        <li>Function: {{ ingredient.function }}</li>
        <li>Weight: {{ ingredient.weight }}</li>
        <li>Volume: {{ ingredient.volume }}</li>
        <li>Technique: {{ ingredient.technique }}</li>
        <li>Tips: {{ ingredient.tips }}</li>
        <li v-for="item in ingredient.biotanical_relatives">
          Biotanical relatives: {{ item }}
        </li>
        <br>
        <h5>Flavor Affinities:</h5>
          <ul>
            <li v-for="item in ingredient.flavor_affinities">
              {{ item }}
            </li>
          </ul>
        <h5>Related Ingredients:</h5>
          <ul>
            <li v-for="item in ingredient.related_ingredients">
              {{ item }}
            </li>
          </ul>
      </ul> 
    </div>
  </section>

  <!-- Vue Components -->
<script type="module">
  var dataURL = './assets/test.json';
  const app = new Vue({
    el: '#app',
    data: {
      // set up an empty array for our json data
      ingredients: []
    },
    // get the ingredients from the json file => empty array
    mounted(){ 
      var self = this
      $.getJSON(dataURL, function(data){
        self.ingredients = data.ingredients
      });
    }
  });
</script>
</body>
</html>