<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>The Flavor Index</title>

  <!-- css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  <!-- js -->
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
      <nav class="navbar bd-navbar navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="./index.html">
                <img src="assets/images/slice1@2x.png">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <!-- <a class="navbar-item"> coming soon... have a simplified page, and a whole list of just the ingredients with clickable links
            The Index
          </a> -->

                <a class="navbar-item" target="_blank" rel="noopener noreferrer" href="https://jackcooks.ca">
                    <p>Affiliated Recipes</p>
                </a>

                <a class="navbar-item" target="_blank" rel="noopener noreferrer"
                    href="https://github.com/DreadLordMatt/flavor-index/blob/master/README.md">
                    <p>Documentation</p>
                </a>
    
                <a class="navbar-item" href="./contact_us.html">
                    <p>Contact Us</p>
                </a>
                <a class="navbar-item" target="_blank" rel="noopener noreferrer"
                    href="https://github.com/DreadLordMatt/flavor-index/issues">
                    <p>Report an issue</p>
                </a>                
            </div>
        </div>
    </nav> 
  <section id="app" class="section container">
    <div>
      <p class="title is-3 is-spaced">The Flavor Index</p>
      <p class="subtitle is-5">This project is inspired by The Flavor Bible, for more information visit the project on <a href="https://github.com/DreadLordMatt/flavor-index"> GitHub</a>. 
        Consider purchasing the book direct from the authors at <a href="https://karenandandrew.com/books/the-flavor-bible/">karenandandrew.com</a>
      <br>
      <br>
      Use the search bar below to find an ingredient</p>
    </div>
    <br>  
    <div class="field is-grouped">
      <div class="control">
        <input type="text" class="input" v-model="search" placeholder="Search for an ingredient"> </div>
    </div>
    <!-- loop through the list and return ingredients -->
    <div class="section container">
      <div class="content" v-for="ingredient in filteredIngredients">
        <h4>{{ ingredient.name }}</h4>
        <ul>
          <li v-if="ingredient.season">Season: {{ ingredient.season }}</li>
          <li v-if="ingredient.taste">Taste: {{ ingredient.taste }}</li>
          <li v-if="ingredient.function">Function: {{ ingredient.function }}</li>
          <li v-if="ingredient.weight">Weight: {{ ingredient.weight }}</li>
          <li v-if="ingredient.volume">Volume: {{ ingredient.volume }}</li>
          <li v-if="ingredient.technique">Technique: {{ ingredient.technique }}</li>
          <li v-if="ingredient.tips">Tips: {{ ingredient.tips }}</li>
          <br>
          <h5 v-if="ingredient.botanical_relatives.length">Botanical Relatives:</h5>
            <ul v-if="ingredient.botanical_relatives">
              <li v-for="item in ingredient.botanical_relatives">{{ item }}</li>
            </ul>         
          <h5 v-if="ingredient.flavor_affinities.length">Flavor Affinities:</h5>
            <ul v-if="ingredient.flavor_affinities">
              <li v-for="item in ingredient.flavor_affinities">{{ item }}</li>
            </ul>
          <h5 v-if="ingredient.related_ingredients.length">Related Ingredients:</h5>
            <ul v-if="ingredient.related_ingredients.length">
              <li v-for="item in ingredient.related_ingredients">{{ item }}</li>
            </ul>
        </ul> 
        <hr>
      </div>
    </div>
</section>

  <!-- Vue Components -->
<script type="module">
  var dataURL = './data/list.json';
  const app = new Vue({
    el: '#app',
    data: {
      // set up an empty array for our json data
      ingredients: [],
      search: ''
    },
    // get the ingredients from the json file => empty array
    mounted() { 
      var self = this
      $.getJSON(dataURL, function(data){
        self.ingredients = data.ingredients
      });
    },
    computed: {
      filteredIngredients:function(){
        return this.ingredients.filter((ingredient) => {
          return ingredient.name.toLowerCase().match(this.search.toLowerCase())
        });
      }
    }
  });
</script>
</body>
</html>